<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnWe</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/style.css">

    <script src="script.js"></script>
    <script src="../../../public/js/info.js"></script>
    <script src="../../../public/js/dot.js"></script>
    <script src="../../../public/js/box.js"></script>
    <script src="../../../public/js/animation.js"></script>
</head>

<body>
    <div class="statistics-container">
        <div class="background"></div>
        <img id="dot" src="../../../public/dot.svg" alt="">
        <canvas id="canvas"></canvas>
        <header class="header">
            <div class="title collision-box">Un<span>We</span></div>
            <div class="menu-button"><span class="material-icons">menu</span></div>
            <div class="menu collision-box">
                <a class="item" href="../home/index.html">Home</a>
                <a class="item item--selected" href="../statistics/index.html">Statistics</a>
                <a class="item" href="../api/index.html">Api</a>
                <a class="item theme">
                    <span class="material-icons theme-dark-button">dark_mode</span>
                    <span class="material-icons theme-light-button">light_mode</span>
                </a>
            </div>
        </header>

        <div class="map-button">
            <span class="material-icons">map</span>
        </div>

        <div class="counties-bar">
            <div class="item-add">
                <div class="item-add-surface"></div>
                <div class="county-select-container">
                    <input class="search" type="text" name="" value="" placeholder="Search">
                    <div id="counties-selector" class="selector">
                        <div class="selector-item" value='SV'>Suceava</div>
                        <div class="selector-item" value='IS'>Iasi</div>
                        <div class="selector-item" value='BT'>Botosani</div>
                        <div class="selector-item" value='B'>Bucuresti</div>
                        <div class="selector-item" value='TM'>Timisoara</div>
                        <div class="selector-item" value='VS'>Vaslui</div>
                        <div class="selector-item" value='AB'>Alba Iulia</div>
                        <div class="selector-item" value='BH'>Bihor</div>
                    </div>
                </div>
                <span class="county-add-icon material-icons">add</span>
            </div>
            <div class="item">
                <span class="county-text">SV</span>
                <div class="close-button"></div>
                <span class="county-text material-icons">close</span>
            </div>
            <div class="item">
                <span class="county-text">IS</span>
                <div class="close-button"></div>
                <span class="county-text material-icons">close</span>
            </div>
            <div class="item">
                <span class="county-text">VS</span>
                <div class="close-button"></div>
                <span class="county-text material-icons">close</span>
            </div>
            <div class="item">
                <span class="county-text">BT</span>
                <div class="close-button"></div>
                <span class="county-text material-icons">close</span>
            </div>
            <div class="item">
                <span class="county-text">B</span>
                <div class="close-button"></div>
                <span class="county-text material-icons">close</span>
            </div>
        </div>

    </div>
</body>

</html>
