Options -MultiViews
RewriteEngine On
# Options -Indexes

RewriteBase 

# RewriteRule ^api/(.+)$  E:\Repos\UnWe\app\controllers\api.php [QSA, L]

RewriteBase /public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
